<h1> Students Information </h1>

<% @students.each do |student| %>
  <p> link_to <%= student["first_name"] %> </p>
  <p> <%= student["last_name"] %> </p>
  <p> <%= student["blog_url"] %> </p>


  
<% end -%>